{% extends 'base.html' %}
        
{% block title %}Bem-vindo ao EventeX!{% endblock title %}
{% block desc_title %}O evento mais sensacional do ano depois do Dev in Rio!{% endblock desc_title %}

{% block content %}
    <div class="box">
<p>Você não pode perder esta oportunidade!</p>
      <p><strong>
        <a href="{% url subscriptions:subscribe %}">Inscreva-se já!</a>
      </strong></p>
      <p>Para dúvidas e mais informações entre em contato com
         <a href="mailto:eventex@eventex.com.br">
            eventex@eventex.com.br</a>
</p>		
    </div>
{% endblock content %}

