{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block title %}
Inscrição
{% endblock title %}

{% block content %}

<form action="." method="POST">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="id_name">Nome:</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.cpf.errors }}
        <label for="id_cpf">CPF:</label>
        {{ form.cpf }}
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">E-mail:</label>
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.phone.errors }}
        <label for="id_phone">Telefone:</label>
        {{ form.phone }}
    </div>
    <p><input type="submit" value="Enviar!" class="button"/></p>
</form>

{% endblock content %}
